.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 30%;
  left: 20%;
  background-color: rgb(58, 0, 113);
  min-width: 300px;
  min-height: 300px;
  border-radius: 1rem;
  padding: 0.8rem;
  gap: 0.5rem;
  color: #fff64a;
  z-index: 100;
  padding-bottom: 2rem;
}

.login span {
  font-size: 1.3rem;
}

.username input {
  outline: none;
  border: 1px solid black;
  width: 280px;
  height: 42px;
  border-radius: 0.5rem;
  padding: 0.9rem;
  background-color: rgb(92, 40, 140);
  color: #fff64a;
}

.username input:focus {
  border: 1.5px solid red;
}

.username-submit {
  border-radius: 0.3rem;
  border: 2px solid rgb(75, 55, 255);
  background-color: #5f51bd;
  color: #fff200;
}

.avatar-slider {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper-wrapper {
  width: 300px;
}

.swiper-slide {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.swiper-slide-active {
  transform: scale(1.2);
  border-color: white;
}
.swiper-slide-next {
  transform: scale(1.1);
}
.swiper-slide-prev {
  transform: scale(1.1);
}
/* Avatar */
.single-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.color {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
